body{
    background-color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
}


.encabesado{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    background-color: white;
}


#textos{
    display: flex;
}


#l{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 0.5em;
    padding-right: 2em;
    color: #b91817;
    font-size: 1.4em;
    text-decoration: none;
}

#l:hover{
    color: black;
}


#jf{
    padding-left: 2em;
    padding-top: 0.5em;
    width: 4em;
    height: 4em;
}

.linea2{
    box-shadow: 1px 1px 20px #333333;
    width: 98.3vw;
    height: 0.2em;
}

#medio{
    height: 34em;
    margin-top: 6em;
    display: flex;
    justify-content: space-around;
}

#letras{
    margin-top: 2em;
    font-size:3em;

}

#juntas{
    display: flex;
    margin-top: -1.5em;
}

#entre{
    padding-right: 0.3em;
}

#entreco{
    color: #b91817;
}

#textoAbajo{
    font-size: 0.5em;
    margin-top: -0.5em;
}

#elBoton{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.3em;
    padding-right: 1.3em;
    border-radius: 2em;
    border:1px #b91817 solid ;
    color: black;
    background-color: transparent;
    font-size: 0.4em;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#elBoton:hover{
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    background-color: #b91817;
    color: #ffffff;
}


#im{
    width: 24em;
    height: 24em;
    border-radius: 20px;
    margin-top: 6em;
}


#sobreMi{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 34em;
}

#arriba{
    display: flex;
}

#logosobremi{
    width: 3em;
    height: 3em;
    padding-right: 1.5em;
    padding-top: 3.3em;
}

#tituSobre{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    padding-bottom: 0.5em;
}

#caja{
    text-align: center;
    width: 40em;
}

#text, #text2{
    padding-bottom: 0.4em;
    font-size: 1.35em;
}

#Proyectos{
    flex-direction: column;
    padding-top: 1em;
    display: flex;
    height: 34em;
}

#horizontal{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

#arriba2{
    justify-content: center;
    display: flex;
}

#tiProyectos{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 1em;
    font-size: 3em;
}

#logoproyecto{
    width: 3em;
    height: 3em;
    padding-right: 1.5em;
    padding-top: 3.3em;
}

#primera{
    border-radius: 10px;
    align-items: center;
    text-align: center;
    width: 20em;
    height: 20em;
    text-decoration: none;
}

#primera:hover{
    border: 1px solid #b91817 ;
}

#cohete{
    border-radius: 30px;
    padding-top: 1em;
    text-decoration: none;
    width: 13em;
    height: 14em;
}

#textSpacex{
    font-size: 1em;
    text-align: center;
    color: black;
    text-decoration: none;
}

#segunda{
    border-radius: 10px;
    align-items: center;
    text-align: center;
    width: 20em;
    height: 20em;
    text-decoration: none;
}

#segunda:hover{
    border: 1px solid #b91817;
}

#kario{
    border-radius: 30px;
    padding-top: 1em;
    text-decoration: none;
    width: 9em;
    height: 14em;
}

#textKario{
    font-size: 1em;
    text-align: center;
    color: black;
    text-decoration: none;
}

#tercera{
    border-radius: 10px;
    align-items: center;
    text-align: center;
    width: 20em;
    height: 20em;
    text-decoration: none;
}

#tercera:hover{
    border: 1px solid #b91817 ;
}

#mywork{
    border-radius: 30px;
    padding-top: 1em;
    text-decoration: none;
    width: 11em;
    height: 14em;
}

#textMysql{
    font-size: 1em;
    text-align: center;
    color: black;
    text-decoration: none;
}

#habilidades{
    height: 24em;
}

#logohabilidades{
    width: 3em;
    height: 3em;
    padding-right: 1.5em;
    padding-top: 3.3em;
}

#tiHabilidades{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 3em;
}

#lenguajes{
    scrollbar-width: none;
    overflow-y: scroll;
    width: 40em;
    height: 13em;
    justify-content: center;
    text-align: center;
    display: flex;
    background-color: #e3e3e3;
    border-radius: 1em;
}

#cen{
    display: flex;
    justify-content: center;
}

#fojava{
    margin-top: 2em;
    border-radius: 3em;
    padding: 2em;
    width: 8em;
    height: 7em;
}

#fopython{
    margin-top: 2em;
    border-radius: 3em;
    padding: 2em;
    width: 8em;
    height: 7em;
}

#fohtml{
    margin-top: 2em;
    border-radius: 3em;
    padding: 2em;
    width: 8em;
    height: 7em;
}

#fospring{
    margin-top: 2em;
    border-radius: 3em;
    padding: 2em;
    width: 8em;
    height: 7em;
}

#foMysql{
    margin-top: 2em;
    border-radius: 3em;
    padding: 2em;
    width: 8em;
    height: 7em;
}

#logoherramientas{
    width: 5em;
    height: 3em;
    padding-top: 3.3em;
}

#tiherramientas{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    text-align: center;
}

#Herramientas{
    flex-direction: column;
    justify-content: center;
    height: 25em;
}

#acomodar{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#fofigma{
    border-radius: 3em;
    padding: 1em;
    width: 9em;
    height: 6em;
}

#fovisual{
    border-radius: 3em;
    padding: 1em;
    width: 6em;
    height: 6em;
}

#focanva{
    border-radius: 3em;
    padding: 1em;
    width: 10em;
    height: 6em;
}

#fonetbe{
    border-radius: 3em;
    padding: 1em;
    width: 12em;
    height: 6em;
}

#contactos{
    height: 20em;
    display:flex;
    flex-direction: column;
}

#acomodo{
    justify-content: center;
    display: flex;
}

#logocontacto{
    width: 3em;
    height: 3em;
    padding-right: 1em;
    padding-top: 3.3em;
}

#ticontactos{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    text-align: center;
}

#fogit{
    border-radius: 3em;
    padding: 2em;
    width: 8em;
    height: 6em;
}

#folinke{
    border-radius: 3em;
    padding: 2em;
    width: 8em;
    height: 6em;
}

#footer{
    text-align: center;
}